
body{
	justify-content:center; 
	text-align:center;
	}
.a2{
	padding-left:15px;
	}
.a3{
	padding-left:7px;
	}
.a4{
	padding-left:44px;
	}
.d1 {
	margin: auto;
	width: 40%;
	border: 3px solid #73AD21;
	border-radius:25px;
	padding: 20px;
	background-image:url(..//image/dp.jpg);
	background-position:center top;
	color:#42f5e6;
	font-size:20px;
	font-weight:50px;
}

.d2{
	padding: 20px;
}
